{% extends 'base.html' %}

{% block contenido %}

  <h1 class="text-center mt-5">Lista de Compras</h1>


  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Producto</th>
        <th scope="col">Tienda</th>
      </tr>
    </thead>
    <tbody>
      {% for producto in productos %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ producto }}</td>
      </tr>
      {% endfor %}
      {% if agregar_form.nombre_producto.value %}
      <tr>
        <th scope="row">{{ productos|length|add:1 }}</th>
        <td>{{ agregar_form.nombre_producto.value }}</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
{% endblock contenido %}
