{% extends 'base.html' %}

{% block contenido %}
<div class="container">
  <h1 class="text-center mt-5 mb-4">Tiendas</h1>

  <div class="row justify-content-center align-items-center mt-4">
    <div class="col-md-6">
      {% if mensaje %}
      <div class="alert alert-danger bg-light mb-4">
        {% for msg in mensaje %}
        <p>{{ msg }}</p>
        {% endfor %}
      </div>
      {% endif %}

      <form id="tiendas-form" name="tiendas-form" action="{% url 'tiendas' %}" method="POST" class="d-flex justify-content-center">
        {% csrf_token %}
        <div class="form-group">
          <div class="d-flex">
            {{ tiendas_form.nombre_tiendas.label_tag }}
            {{ tiendas_form.nombre_tiendas }}
            {{ tiendas_form.nombre_tiendas.errors }}
            <button class="btn btn-primary ms-3" type="submit">Agregar</button>
          </div>
          <p>{{ tiendas_form.nombre_tiendas.value }}</p> <!-- Mostrar el valor ingresado en el cuadro de texto -->
        </div>
      </form>
    </div>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
      </tr>
    </thead>
    <tbody>
      {% for tienda in tiendas %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ tienda }}</td>
      </tr>
      {% endfor %}
      {% if tiendas_form.nombre_tiendas.value %}
      <tr>
        <th scope="row">{{ tiendas|length|add:1 }}</th>
        <td>{{ tiendas_form.nombre_tiendas.value }}</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock contenido %}
