{% extends 'base.html' %}

{% block contenido %}
<div class="container">
  <h1 class="text-center mt-5 mb-4">Productos</h1>

  <div class="row justify-content-center align-items-center mt-4">
    <div class="col-md-6">
      {% if mensaje %}
      <div class="alert alert-danger bg-light mb-4">
        {% for msg in mensaje %}
        <p>{{ msg }}</p>
        {% endfor %}
      </div>
      {% endif %}

      <form id="agregar-form" name="agregar-form" action="{% url 'productos' %}" method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-group">
          <div class="d-flex align-items-center">
            {{ agregar_form.nombre_producto }}
            {% if agregar_form.nombre_producto.errors %}
              <div class="invalid-feedback">
                {% for error in agregar_form.nombre_producto.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
            <button class="btn btn-primary ms-3" type="submit">Agregar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col"></th> <!-- Celda vacía para el checkbox -->
        <th scope="col" class="text-start">Nombre</th>
        <th scope="col" class="text-center">Tienda</th>
        <th scope="col" class="text-end">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for producto in productos %}
      <tr>
        <td class="align-middle">
          <input type="checkbox">
        </td>
        <td class="text-start align-middle" style="vertical-align: middle;">{{ producto.nombre }}</td>
        <td class="text-center align-middle">
          <select name="tienda_producto" class="form-select">
            {% for tienda in tiendas %}
              <option value="{{ tienda.id }}" {% if tienda.id == producto.tienda.id %}selected{% endif %}>{{ tienda.nombre }}</option>
            {% endfor %}
          </select>
        </td>
        <td class="text-end align-middle">
          <button class="btn btn-warning me-2">Editar</button>
          <form action="{% url 'eliminar_producto' producto.id %}" method="POST" style="display: inline;">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Eliminar</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
