{% extends 'base.html' %}

{% block contenido %}
<div class="container">
  <h1 class="text-center mt-5 mb-4">Tiendas</h1>

  <div class="row justify-content-center align-items-center mt-4">
    <div class="col-md-6">
      {% if mensaje %}
      <div class="alert alert-danger bg-light mb-4">
        {% for msg in mensaje %}
        <p>{{ msg }}</p>
        {% endfor %}
      </div>
      {% endif %}

      <form id="agregar-form" name="agregar-form" action="{% url 'tiendas' %}" method="POST" class="d-flex justify-content-center needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-group">
          <div class="d-flex">
            {{ agregar_form.nombre_tienda }}
            {% if agregar_form.nombre_tienda.errors %}
              <div class="invalid-feedback">
                {% for error in agregar_form.nombre_tienda.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
            <button class="btn btn-primary ms-3" type="submit">Agregar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <table class="table mt-4">
    <thead>
      <tr class="table-dark">
        <th scope="col" class="text-start">Nombre</th> 
        <th scope="col" class="text-end">Acciones</th> 
      </tr>
    </thead>
    <tbody>
      {% for tienda in tiendas %}
      <tr>
        <td class="text-start">{{ tienda.nombre }}</td> 
        <td class="text-end">
          <div class="d-flex justify-content-end">
            <button class="btn btn-warning me-2">Editar</button>
            <form action="{% url 'eliminar_tienda' tienda.id %}" method="POST" style="display: inline;">
              {% csrf_token %}
              <button class="btn btn-danger" type="submit">Eliminar</button>
            </form>
          </div>
        </td>
      </tr>
      {% endfor %}
      {% if agregar_form.nombre_tienda.value %}
      <tr>
        <td class="text-center">{{ agregar_form.nombre_tienda.value }}</td> 
        <td class="text-end">
          <div class="d-flex justify-content-end">
            <button class="btn btn-warning me-2">Editar</button>
            <form action="{% url 'eliminar_tienda' tienda.id %}" method="POST" style="display: inline;">
              {% csrf_token %}
              <button class="btn btn-danger" type="submit">Eliminar</button>
            </form>
          </div>
        </td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock contenido %}
